#texto-1{
    text-align: center;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF;
     color:black;
    font-size:20px;
    max-width:980px;
     width:90%;
    }



h1{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF;
     color:black;
    font-size:35px;
    max-width:980px;
     width:90%;
    }
     

img{
    margin: auto;
    display: block;
    width:560px;
    max-width:980px;
     width:90%;
    
}


body{
    background-image:url(WhatsApp-Image-2022-04-01-at-12.04.34.webp);
    display:block;
    background-size:1300px;
    
}

.conhecer{
    
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF;
     color:black;
    font-size:35px;
   
}

.estadio{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF;
     color:black;
    font-size:25px;
   
}
.sobre{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
     color:#FFF;
    font-size:20px; 
    text-shadow:-1px -1px 0px black, 
    -1px 1px 0px black,                    
     1px -1px 0px black,                  
     1px 0px 0px black;
     
}


@media (min-width:55px) and (max-width:1000px){
    .sobre, .estadio, .conhecer, body, h1, img, #texto-1  {

    
      width:90%;  
    }
}